*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
.section1{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: -4.8rem;
    background-color: #f5f7fa;
}
.navbar>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 9% ;
}
.navbar::after{
    display:block;
    content: "";
    height: 2px;
    width: 90%;
    margin-left:5% ;
    background-color: #90949b;
}

.logo>img{
    width: 8rem;
}
.list{
    display: flex;
    gap: 60px;
    margin-right: 60px;
}
.list-item{
    font-size: 1rem;
    color: #d4d6d8;
}
.list-item:hover{
    color: #6563e9;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14% 0 20% 9.5%;
    gap:3rem;
}
.hero>h1{
    font-size: 5vw;
    width: 48vw;
    color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.hero>p{
    font-size: 1.1vw;
    width: 28vw;
    color: #dbd9d9;
    line-height: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.logos{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    border-radius: 1rem;
    gap: 80px;
    padding: 6% 4%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.logos>img{
    width: 10%;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    padding-top: 6rem;
}
.estate{
    background: #f5f7fa;
    justify-content: center;
    align-items: center;
}
.estate>h1{
    margin: 0rem 0 4rem 0;
    font-size: 3rem;
    width: 30.5vw;
    text-align: center;
    color: #2d2f2f;
    line-height: 4rem;
}
.estate>div{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
}
.houses{
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 3.5rem 0;
    position: relative;
}
.houses:nth-child(2){
    top: 35px;
}
.houses:nth-child(3){
    top: 70px;
}
.houses:nth-child(5){
    bottom: 35px;
}
.houses:nth-child(6){
    bottom: 60px;
}
.houses:nth-child(7){
    bottom: 90px;
}
.houses:nth-child(8){
    bottom: 45px;
}
.houses:nth-child(9){
    bottom: 15px;
}
.estate>div>.houses>div:nth-child(1){
    height: 400px ;
    width: 380px;
    border-radius:20px ;
    background-image: url(./Photos/cardImage1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* top: 50px; */
}
.estate>div>.houses>div:nth-child(2){
    gap: 40px;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
    bottom: 50px;
}
.estate>div>.houses>div:nth-child(2)>div{
    gap: 10px;
}
.estate>div>.houses:nth-child(2)>div:nth-child(1){
    background-image: url(./Photos/cardImage2.png);
    background-position: left;   
}
.estate>div>.houses:nth-child(3)>div:nth-child(1){
    background-image: url(./Photos/cardImage3.png);
}
.estate>div>.houses:nth-child(4)>div:nth-child(1){
    background-image: url(./Photos/cardImage4.png);
}
.estate>div>.houses:nth-child(5)>div:nth-child(1){
    background-image: url(./Photos/cardImage5.png);
}
.estate>div>.houses:nth-child(6)>div:nth-child(1){
    background-image: url(./Photos/cardImage6.png);
}
.estate>div>.houses:nth-child(7)>div:nth-child(1){
    background-image: url(./Photos/cardImage7.png);
}
.estate>div>.houses:nth-child(8)>div:nth-child(1){
    background-image: url(./Photos/cardImage8.png);
}
.estate>div>.houses:nth-child(9)>div:nth-child(1){
    background-image: url(./Photos/cardImage9.png);
}
.section3{
    background-color: #f5f7fa;

}
.feature-house{
    justify-content: space-between  ;
}
.feature-house-img{
    position: relative;
    padding-top: 4rem;
}
.feature-house-img>div:nth-child(1){
    position: relative;
    height: 40vw;
    width: 42vw;
}
.feature-house-img>div:nth-child(1)>img{
    width: 105%;
    height: 90%;
}
.feature-house-img>div:nth-child(2){
    height: 32vw;
    width: 31.5vw;
    background-image: url(./Photos/featuresImage1.png);
    background-position:center;
    background-size: cover;
    position: absolute;
    top: 0%;
    right:3.9%;
    border-radius: 30px;
}
.feature-house-details{
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 0 4rem 4rem 0;

}
.feature-house-details>h2{
    font-size: 4vw;
    width: 34vw;
    line-height: 6vw;
    color: #2d2f2f;
}
.feature-house-details>p{
    font-size: 1.2vw;
    width: 30vw;
    color: #90949b;
}
.feature-house-img:nth-child(2)>div:nth-child(2){
    background-image: url(./Photos/featuresImage2.png);
    left: 8.9%;
}
.right{
    padding: 0 0 4rem 10rem;
}
.section4{
    padding: 2rem 3%;
    background-color: #f5f7fa;
}
.subscription-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    background-color: #6563e9;
    padding: 3rem 5%;
    border-radius: 40px;
}
.subscription-part>h2{
    font-size: 5vw;
    width: 70vw;
    text-align: center;
    color: #ffffff;
}
.subscription-part>p{
    font-size: 1.5vw;
    width: 55vw;
    text-align: center;
    color: #ded7ea;
}
.subscription-part>div{
    gap: 2rem;
}
.subscription-part>div>div{
    position: relative;
}
.subscription-part>div>div{
    background-color: #5452d1;
    border-radius: 50px;
}
#email{
    padding: .7rem 1rem 1rem 4rem;
    border-radius: 30px;
    position: relative;
    background-color: #5452d1;
    font-size:1rem ;
    width: 30vw;
    border: 1px solid #5452d1;
    color: #d4d6d8;
}
.subscription-part>div>div>img{
    position: absolute;
    left: 5%;
    top: 20%;
}
